<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Download Pdf</title>
</head>
<body>
<!--       <th:block th:include="/_menu"></th:block> -->
<br/><br/><br/><br/>
<h3 style="text-align: center">e-Sign ASP Form</h3>

<!-- MyUploadForm -->

<form  name="myForm">

    <div style="text-align: center">
        <a th:href="@{/downloadPdfLocally}">Download Signed Pdf</a>
    </div>
</form>

</body>
</html>